/*=====RESET=====*/
/*=====RESET=====*/
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;600;700&family=Cookie&family=Lato:wght@300;400;700&family=Oswald:wght@300;400;700&display=swap");
html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*=====VARIABLES=====*/
/*=====FONTS COLORS=====*/
/*=====FONTS URL=====*/
/*=====FONTS=====*/
/*=====TITLES ATOMS=====*/
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
}

/*<!--=====TITLES=====-->*/
.content__title {
  margin: 1rem;
}

/*<!--=====TITLES LARGE=====-->*/
.content__title-large {
  font-size: 34px;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  color: #484848;
}

/*<!--=====TITLES SMALL=====-->*/
.content__title-small {
  font-size: 24px;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  color: #484848;
}

/*<!--=====TITLES MEDIUM=====-->*/
.content__title-medium {
  font-size: 18px;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  color: #484848;
}

/*<!--=====TITLES BANNER BUTTON=====-->*/
.content__title--banner-botton {
  font-size: 48px;
  font-weight: 400;
  font-family: "Cookie", cursive;
  color: #eeeeee;
}

/*<!--=====TITLES SUBSCRIBE=====-->*/
.content__title--subscribe {
  font-size: 20px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: #484848;
}

/*<!--=====TEXTS LARGE=====-->*/
.content__text {
  margin: 1rem;
}

.content__text--large {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: #c2c2c2;
}

/*<!--=====TEXTS SMALL=====-->*/
.content__text--small {
  font-size: 13px;
  font-family: "Lato", sans-serif;
  color: #c2c2c2;
}

/*<!--=====TEXTS  subscribe=====-->*/
.content__text--suscribe {
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  color: #c2c2c2;
}

/*<!--=====LINE BOTTON =====-->*/
.line__botton {
  border-bottom: 1px solid #c2c2c2;
  width: 315px;
}

/**<!--=====BUTTON=====-->*/
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
}

.content__button {
  margin: 1rem;
}

/*<!--=====BUTTON TEX ARROW=====-->*/
.button-text-arrow {
  background-color: transparent;
  color: #252525;
  font-size: 14px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  border: none;
  cursor: pointer;
  outline: none;
}

/*<!--=====BUTTON TRANSPARENT=====-->*/
.button-transparent {
  background-color: transparent;
  border: 1px solid #252525;
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  color: #252525;
  width: 136px;
  outline: none;
  cursor: pointer;
}

/*<!--=====BUTTON SUBSCRIBE=====-->*/
.button-subscribe {
  background-color: #252525;
  color: #eeeeee;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  width: 315px;
  height: 45px;
  border: none;
  outline: none;
  cursor: pointer;
}

/*<!--=====INPUTS =====-->*/
.content__input {
  margin: 1rem;
}

.input {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #c2c2c2;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  outline: none;
}

::placeholder {
  color: #c2c2c2;
}

/*<!--=====IMAGES=====-->*/
.content__image {
  margin: 1rem;
}

.container__suscribe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
}

.subscribe {
  width: 320px;
  height: 153px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.09);
}

.subscribe__title {
  color: #484848;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin: 0 5px 16px;
}

.content__text--suscribe {
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  margin-left: 5px;
}

/*<!--=====LINE BOTTON =====-->*/
.line__botton {
  border-bottom: 1px solid #c2c2c2;
  width: 310px;
}

.input {
  width: 310px;
  margin: 10px 5px;
}

.content__button {
  margin: 0;
  display: flex;
  justify-content: center;
}

.container__card--large {
  padding: 50px;
  display: flex;
  justify-content: center;
}

.content__card--large {
  width: 636px;
  height: 562px;
}

.content__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dt {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #484848;
  margin: 1rem 0;
}

.content__title-large {
  font-size: 34px;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  color: #484848;
  margin: 1rem 0;
}

.content__text--large {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: #c2c2c2;
  margin: 2rem 0;
}

.container__card--medium-1 {
  padding: 50px;
  display: flex;
  justify-content: center;
}

.content__card--medium-1 {
  display: flex;
  width: 315px;
  height: 243px;
}

.content__text--titele {
  font-size: 24px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  color: #484848;
}

.content__paragraphs--medium-1 {
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  color: #c2c2c2;
  margin: 1rem 1rem 0 0;
}

.button-text-arrow {
  margin: rem 0;
}

.container__medium-2 {
  padding: 50px;
  display: flex;
  justify-content: center;
}

.content__card--medium-2 {
  width: 315px;
  height: 243px;
}

.content__card__medium-2--head {
  display: flex;
}

.image__medium-2 {
  width: 142px;
  height: 127px;
}

.content__title--medium-2 {
  font-size: 24px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  color: #484848;
  margin: 0 1rem;
  line-height: 30px;
}

.content__text--date {
  font-size: 14px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  color: #c2c2c2;
  margin: 1rem 1rem 0;
}

.content__card--medium-2 {
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  color: #c2c2c2;
  margin: 1rem 0 0;
}

.button-text-arrow {
  margin: 1rem 0;
}

.container__small {
  padding: 50px;
  display: flex;
  justify-content: center;
}

.content__card--small {
  display: flex;
  width: 300px;
  height: 81px;
}

.content__title-small {
  font-size: 18px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  color: #484848;
  margin: 0 1rem;
}

.container__mini {
  padding: 50px;
  display: flex;
  justify-content: center;
}

.container__mini {
  padding: 50px;
  display: flex;
  justify-content: center;
}

.content__card--mini {
  display: flex;
  width: 342px;
  height: 87px;
}

.content__title-small {
  font-size: 24px;
  font-weight: 600px;
  font-family: "Oswald", sans-serif;
  color: #484848;
  margin: 1rem 1rem 0;
}

.content__text--date {
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  color: #c2c2c2;
  margin: 0 1rem 0;
}
